@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-image-height {
    height: calc(100vh - 70px);
  }

  .btn-primary {
    @apply px-4 py-1.5 bg-limeade hover:bg-verdun-green rounded-full text-white transition;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #ddd;
}
